.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
Link {
  text-decoration: none;
}
.App-header {
  background-color: #3f4247;
  min-width: 100vw;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  padding: 9px 0px;
  align-items: first baseline;
  justify-content: center;
  font-weight: bolder;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  position: absolute;
  top: 2rem;
}

.App-link {
  color: #59757c;
  text-decoration: none;
}

.user-button {
  background: #282c34;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 1rem;
}
.user-button:hover {
  background: #003d9e;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.user-button:active {
  transform: scale(0.95);
  background: #010b1d;
}

.user-profile-pic{
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background-color: #fff;
}

.user{
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-details-name{
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-data{
  font-size: large;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    font-size: calc(8px + 1vmin);
  }

  .App-header {
    font-size: calc(8px + 1vmin);
    padding: 10px 0px 10px 10px;
    
  }

  .App-section {
    position: static;
    margin-top: 1rem;
  }

  .user {
    font-size: medium;
  }

  .user-button {
    margin-left: 0;
    margin-top: 1rem;
    padding: 10px;
    font-size: 10px;
  }

  .user-profile-pic {
    height: 4rem;
    width: 4rem;
  }

  .user-details-name {
    flex-direction: column;
    font-size: medium;
  }
}
