.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #3f4247;
  min-width: 100vw;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  font-weight: bolder;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section{
  position: absolute;
  top: 2rem;
}

.App-link {
  color: #61dafb;
}
